<a href="https://colab.research.google.com/github/ADITYADEB072003/ADITYADEB072003/blob/master/PYAND_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Count the number of digits in a number.

In [ ]:

count=0
def no_digit(no):
  if no==0:
    return 1
  count=0

  while no!=0:
    no=no//10
    count=count+1
  return count

no=int(input("Enter the no"))
no_digit(no)

Enter the no1234

4

2. Find the sum of odd digits in the given numbe

In [ ]:

count=0
def no_digit(no):
  if no==0:
    return 1
  count=0
  sum=0
  while no!=0:
    digit=no%10
    if(digit%2!=0):
      sum+=digit

    no=no//10

  return sum

Enter the no456
Sum of odd digit 5

## 3.Find the factorial of a number

In [ ]:
def fact(no):
  fact=1
  for i in range(1,no+1):
    fact*=i
  return fact

no=int(input("Enter the no"))
print("factorial",fact(no))

Enter the no5
factorial 24

4. Find the largest of 3 numbers

In [ ]:
no=int(input("Enter the no="))
no1=int(input("Enter the no2="))
no2=int(input("Enter the no 3="))
print("Largest of three no",max(no,no1,no2))

Enter the no2
Enter the no230
Enter the no 36
Largest of three no 30

5. Write a program to calculate the average of n numbers entered by the user.

In [ ]:
num = int(input('How many numbers: '))
total_sum = 0
for n in range(num):
    numbers = float(input('Enter number : '))
    total_sum += numbers
    avg = total_sum/num
print('Average of ', num, ' numbers is :', avg)

How many numbers: 4
Enter number : 1
Enter number : 2
Enter number : 3
Enter number : 4
Average of  4  numbers is : 2.5

6. Count Vowels in a String

In [ ]:
string=str(input("Enter the String"))
stringlow=string.lower()
count=0
for i in stringlow:
  if i=='a'or i=='e' or i=='i' or i=='o' or i=='u':
    count+=1
print(count)

Enter the Stringaeiou
5

7. Write a program to check if a given number is an Armstrong number.

In [ ]:
def no_digit(no):
    if no == 0:
        return 1
    count = 0
    while no != 0:
        no = no // 10
        count = count + 1
    return count

def no_count(no):
    count = no_digit(no)  # Number of digits
    rev = 0
    temp = no  # Temporary variable to store original number
    while no != 0:
        digit = no % 10
        rev += digit ** count
        no = no // 10

    if temp == rev:
        print("Armstrong Number")
    else:
        print("Not an Armstrong Number")

# Input from user
no = int(input("Enter the number: "))
no_count(no)

Enter the number: 789
Not an Armstrong Number

Write a program to calculate the greatest common divisor (GCD) of two numbers

In [ ]:
def gcd(a,b):
  if (b==0):
    return a
  else:
    return gcd(b,a%b)



# prints 12
print("The gcd of 60 and 48 is : ", end="")
print(gcd(60, 48))

The gcd of 60 and 48 is : 12

 Write a program to calculate the least common multiple (LCM) of two numbers.

In [ ]:
def grlcm(a, b):
    if a > b:
        greater = a
    else:
        greater = b

    while True:
        if greater % a == 0 and greater % b == 0:
            lcm = greater
            break
        greater += 1
    return lcm


# prints 240
print("The lcm of 3 and 4 is : ", end="")
print(grlcm(3, 4))

The lcm of 3 and 4 is : 12

# **LAB1**

# **Conditional Statement**

In [ ]:
# Example


# -*- coding: utf-8 -*-
"""Conditional.ipynb

Automatically generated by Colab.

Original file is located at
    https://colab.research.google.com/drive/12SnnfR-JsFtu2zVsUobdb16aCvyYsZN-
"""

'''
If-else statements allow you to execute specific blocks of code based on conditions.
'''

# Checking if a number is positive
number = 5

if number > 0:
    print("The number is positive.")
else:
    print("The number is not positive.")

'''
If-elif-else statements extend the basic if-else logic by allowing multiple conditions.
'''

# Checking if a number is positive, negative, or zero
number = 5

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

'''
While loops are used to repeat a block of code as long as a condition is True.
'''
# Counting down from 5 to 1
count = 5

while count > 0:
    print(count)
    count -= 1  # Decrement count by 1

'''
For loops are used to iterate over a sequence (like a list, tuple, string, or range).

Using range()

The range() function generates a sequence of numbers.

range(stop): Generates numbers from 0 to stop - 1.

range(start, stop, step): Generates numbers from start to stop - 1 with a step of step.
'''


# Printing numbers from 0 to 4
for i in range(5):
    print(i)

# Printing numbers from 1 to 10 with a step of 2
for i in range(1, 11, 2):
    print(i)

'''
Basic Iteration Over a List
'''
colors = ["red", "green", "blue"]
for color in colors:
    print(color)

'''
Using Index With enumerate()
'''
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

'''
Iterating Over a Dictionary
'''
student_scores = {"Alice": 85, "Bob": 92, "Charlie": 78}
for student, score in student_scores.items():
    print(f"{student}: {score}")

'''
List Comprehension (One-Liner Loop)
'''
squares = [x**2 for x in range(5)]
print(squares)  # Output: [0, 1, 4, 9, 16]

'''
Nested For Loops
'''
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for row in matrix:
    for value in row:
        print(value, end=" ")
    print()  # Newline after each row

The number is positive.
The number is positive.
5
4
3
2
1
0
1
2
3
4
1
3
5
7
9
red
green
blue
Index 0: apple
Index 1: banana
Index 2: cherry
Alice: 85
Bob: 92
Charlie: 78
[0, 1, 4, 9, 16]
1 2 3
4 5 6
7 8 9

Q1.1. Define a list of 10 integer values and for loop to find the largest and smallest value in the list along with index

In [ ]:
list=[1,20,3,4,5,6,7,8,9,10]
largest=list[0]
smallest=list[0]
largestindex=0
smallestindex=0

for i in range(len(list)):
  if list[i]>largest:
    largest=list[i]
    largestindex=i
  if list[i]<smallest:
    smallest=list[i]
    smallestindex=i

print(f"Largest element={largest} with index={largestindex}")
print(f"Smallest element={smallest} with index={smallestindex}")

Largest element=20 with index=1
Smallest element=1 with index=0

**2. Define a list to store the names of five cities and display their names**

In [ ]:
citylist=['Delhi','Guwahati','Mumbai','Hyderabad','Chennai']
for i in citylist:
  print(f"City={i}")

City=Delhi
City=Guwahati
City=Mumbai
City=Hyderabad

Using for loop w.a.p to find the sum of square  first n natural number...**bold text**

In [ ]:
n=int(input("Enter the natural number end point for square"))
sum=0
for i in range(1,n+1):
  sum+=i**2

print(f'Sum of square of {n} natural number is ={sum}')

Enter the natural number end point for square6
Sum of square of 6 natural number are =91

Write a program print the grades of a student.

In [ ]:
grade=int(input("Enter the grade"))
if grade >90 :
  print("O")
elif grade>80 and grade <90:
  print("E")
elif grade>70 and grade <80:
  print("A+")
elif grade >60 and grade < 70:
  print("A")
elif grade>50 and grade <60:
  print("C")
elif grade >40 and grade <50:
  print("P")
else:
  print("Fail")

Enter the grade560
O

Using for loop create a list of x cube where the starting p..oint of x and end point of x is user defined

In [ ]:
s=int(input("Enter the natural number start point for square"))
n=int(input("Enter the natural number end point for square"))

cubes_list=[]
for x in range(s, n + 1):
    cubes_list.append(x**3)

# Print the list of cubes
print("List of cubes:", cubes_list)

Enter the natural number start point for square1
Enter the natural number end point for square13
List of cubes: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197]

 1. Generate a list of numbers from 1-50, where each number is divisible by 5

In [ ]:
numbers = [i for i in range(1, 51) if i % 5 == 0]
print(numbers)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

2. Store the grades of 10 students in a list. Find the highest, lowest and average grades.

In [ ]:
grades = [8.5, 9.2, 7.8, 9.0, 8.8, 7.6, 9.5, 8.9, 8.3, 9.1]

highest = max(grades)
lowest = min(grades)
average = float(sum(grades)) / len(grades)

print(f"Highest Grade: {highest}")
print(f"Lowest Grade: {lowest}")
print(f"Average Grade: {average:.2f}")

TypeError: 'int' object is not callable

 3. Write a program to generate a list with the first 10 terms in an AP series with starting point 1 and difference

In [ ]:

a1 = 1
d = 3


terms = []

for n in range(10):
    term = a1 + n * d
    terms.append(term)


print(terms)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

4. Write a program to generate the list of first 10 terms in a GP series. The first term and common ratio will be provided by the user

In [ ]:
# Python 3 program to print GP.
curr_terms=[]
def printGP(a, r, n):
	for i in range(0, n):
		curr_term = a * pow(r, i)
		print(curr_term, end =" ")


# Driver code

a = 2 # starting number
r = 3 # Common ratio
n = 10 # N th term to be find

printGP(a, r, n)

2 6 18 54 162 486 1458 4374 13122 39366


5. Find duplicates in a list

In [ ]:
lst = [1, 2, 3, 4, 2, 5, 6, 3, 7, 8, 1]
for i  in range(0,len(lst)):
  for j in  range(i+1,len(lst)):
    if lst[i]==lst[j]:
      print(lst[j])

1
2
3

Find the common terms in two lists

In [ ]:
a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7, 8]

# Find common elements using nested loops
common = []
for x in a:
    if x in b:
        common.append(x)

print(common)

[4, 5]

# **LIST**

In [ ]:
 h="hello"
 print(h)

hello

In [ ]:
nested=[[2,[37,34]],4,["hello"]]
#[2,[37,34]]==0[0,1[0,1]]
#4=1
#["hello"]=2[[0],[0:...]]
print(nested)
print(nested[0])
print(nested[0][1][1])
print(nested[1])
print(nested[2])
print(nested[2][0][1:4])

[[2, [37, 34]], 4, ['hello']]
[2, [37, 34]]
34
4
['hello']
ell

In [ ]:
'''
Nested For Loops
'''
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for row in matrix:
  print(row, end=" ")
  print()  # Newline after each row

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
'''
Nested For Loops
'''
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for row in matrix:
    for value in row:
        print(value, end=" ")
    print()  # Newline after each row

1... 2... 3...
4... 5... 6...
7... 8... 9...

In [ ]:
l=[]
p=l
l=[1,3]

print(p)

[]

Python List methods

append():

    Syntax: list_name.append(element)

**remove() Method**

https://www.w3schools.com/python/python_ref_list.asp

 Write a function that removes duplicate elements from a given list while maintaining order

In [ ]:
a = [1, 2, 3, 4, 2, 5, 6, 3, 7, 8, 8,1]


b = []

def duplicate(a,b):
  for x in a :
    if x not in b:
      b.append(x)


duplicate(a,b)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8]

2. ⁠Create a list of CGPA’s of 10 students and then print the maximum, minimum and average CGPA. Also print the Frequency of the CGPA

In [ ]:
a = [8.5,7.5,6.5,9.0,3.0,2.0,10.0,7.5,9.63,8.2]
print(a)
print("Maxmimum CGPA",max(a))
print("Minimum CGPA",min(a))
print("Average Cgpa",sum(a)/len(a))

# Create a list of unique items
b = set(a)

# Use list comprehension to count the frequency of each unique item
c = {item: a.count(item) for item in b}

# Print the frequency of each item
print(c)

[8.5, 7.5, 6.5, 9.0, 3.0, 2.0, 10.0, 7.5, 9.63, 8.2]
Maxmimum CGPA 10.0
Minimum CGPA 2.0
Average Cgpa 7.183
{2.0: 1, 3.0: 1, 6.5: 1, 7.5: 2, 8.5: 1, 9.0: 1, 10.0: 1, 9.63: 1, 8.2: 1}

3. ⁠In the above list print how many students scored in the range , 5-6, 6-7, 7-8, 8-9, 9-10 4

In [ ]:
ranges = {"5-6": 0, "6-7": 0, "7-8": 0, "8-9": 0, "9-10": 0}

for cgpa in a:
    if 5 <= cgpa < 6:
        ranges["5-6"] += 1
    elif 6 <= cgpa < 7:
        ranges["6-7"] += 1
    elif 7 <= cgpa < 8:
        ranges["7-8"] += 1
    elif 8 <= cgpa < 9:
        ranges["8-9"] += 1
    elif 9 <= cgpa <= 10:
        ranges["9-10"] += 1

print("CGPA Range Counts:", ranges)

CGPA Range Counts: {'5-6': 0, '6-7': 1, '7-8': 2, '8-9': 2, '9-10': 3}

⁠4.Write a program to check if a given list is sorted.

In [ ]:
a=[1,4,2,3,5,6]
if a==sorted(a):
  print("Sorted")
else:
  print("Not Sorted")a

Not Sorted

5. ⁠Write a Python program to find the second largest number in a list.

In [ ]:
a=[1,4,2,3,5,6]
revered=sorted(a,reverse=True)
print(Second largest Element)
print(revered[1])

5

 6. ⁠Given two lists, return a new list containing only the common elements between them.

In [ ]:
def common_elements(lst1, lst2):
    return list(set(lst1) & set(lst2))

print(common_elements([1, 2, 3, 4], [3, 4, 5, 6]))  # [3, 4]

[3, 4]

7. ⁠Given a list of numbers and a target sum, find all unique pairs whose sum is equal to the target

In [ ]:
# Python3 program to find all pairs in
# a list of integers with given sum

def findPairs(lst, K):
	res = []
	while lst:
		num = lst.pop()
		diff = K - num
		if diff in lst:
			res.append((diff, num))

	res.reverse()
	return res

# Driver code
lst = [1, 5, 3,4, 7,8, 9]
K = 12
print(findPairs(lst, K))

[(5, 7), (4, 8), (3, 9)]

8. ⁠Given a list containing numbers from 1 to n with one missing number, find the missing number

In [ ]:
def find_missing_number(arr):
    n = len(arr) + 1
    hash_set = set(arr)

    for i in range(1, n):
        if i not in hash_set:
            return i

    return n

arr = [1, 2, 4, 6, 3, 7, 8]
missing_number = find_missing_number(arr)
print("Missing number is:", missing_number)

 9. ⁠Write a program to merge two sorted lists.

In [ ]:
def merge_sorted_lists(lst1, lst2):
    return sorted(lst1 + lst2)

print(merge_sorted_lists([1, 3, 5], [2, 4, 6]))  # [1, 2, 3, 4, 5, 6]

10. ⁠Write a program that rotate a list by k positions to right. For example if k=2, then [1, 3, 4, 5, 7] will be rotated to [5, 7, 1, 3, 4]

In [ ]:
# Python3 implementation of right rotation
# of an array K number of times

# Function to rightRotate array
def RightRotate(a, n, k):

    # If rotation is greater
    # than size of array
    k = k % n;
    print(k)
    for i in range(0, n):

        if(i < k):

            # Printing rightmost
            # kth elements
            print(a[n + i - k], end = " ");

        else:

            # Prints array after
            # 'k' elements
            print(a[i - k], end = " ");

    print("\n");

# Driver code
Array = [ 1, 2, 3, 4, 5 ];
N = len(Array);
print(N)
K = 3;

RightRotate(Array, N, K);

# This code is contributed by Code_Mech

5
3
3 4 5 1 2